#Hello! You'll need permission from me to review a pull request and merge it. Note in mind that this takes time!
* @FireCello
#If any people contribute to a folder, and contribute to the UI and website by adding a page to the website, their username will be added to the CODEOWNERS file and they will be responsible for reviewing and merging pull requests concerning their folder.
